
.wrapper {
  min-height: 120px;
  box-sizing: border-box;
  padding: 20px 15px;
  padding-left: 90px;
  border-bottom: 1px solid #eeeeee;
  position: relative;
}

.wrapper:last-of-type {
  border-bottom: 0;
}

.weather {
  position: absolute;
  top: 21px;
  left: 15px;
  text-align: center;
}

.day {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.wrapper footer {
  margin-top: 15px;
  display: flex;
}

.summary {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.summary:last-child { margin-right: 0; }

.icon {
  display: inline-block;
  margin-right: 10px;
}
