
.wrapper { }

.wrapper h1 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: #2f63cf;
  margin: 0;
  padding: 15px;
}

@media all and (min-width: 800px) {
  .wrapper h1 {
    font-size: 45px;
  }
}
