
.add {
  width: 24px;
  height: 24px;
  background-image: url('../images/add.svg');
}

.weather {
  width: 59px;
  height: 51px;
}

.weather.cloudy {
  background-image: url('../images/cloudy.svg');
}
.weather.cloudy.blue {
  background-image: url('../images/cloudy-blue.svg');
}

.weather.fair {
  background-image: url('../images/fair.svg');
}
.weather.fair.blue {
  background-image: url('../images/fair-blue.svg');
}

.weather.rain {
  background-image: url('../images/rain.svg');
}
.weather.rain.blue {
  background-image: url('../images/rain-blue.svg');
}

.weather.thunder_showers {
  background-image: url('../images/thunder_showers.svg');
}
.weather.thunder_showers.blue {
  background-image: url('../images/thunder_showers-blue.svg');
}

.temperature {
  width: 10px;
  height: 18px;
  background-image: url('../images/thermometer.svg');
}
.temperature.blue {
  background-image: url('../images/thermometer-blue.svg');
}

.humidity {
  width: 12px;
  height: 16px;
  background-image: url('../images/humidity.svg');
}
.humidity.blue {
  background-image: url('../images/humidity-blue.svg');
}

.wind {
  width: 12px;
  height: 19px;
  background-image: url('../images/wind.svg');
}
.wind.blue {
  background-image: url('../images/wind-blue.svg');
}

.moon {
  width: 19px;
  height: 19px;
}

.new-moon { background-image: url('../images/new-moon.svg'); }
.waxing-crescent { background-image: url('../images/waxing-crescent.svg'); }
.first-quarter { background-image: url('../images/first-quarter.svg'); }
.waxing-gibbous { background-image: url('../images/waxing-gibbous.svg'); }
.full-moon { background-image: url('../images/full-moon.svg'); }
.wanning-gibbous { background-image: url('../images/wanning-gibbous.svg'); }
.last-quarter { background-image: url('../images/last-quarter.svg'); }
.wanning-crescent { background-image: url('../images/wanning-crescent.svg'); }

