
.wrapper {
  color: #ffffff;
  height: 127.778vw;
  background:
    linear-gradient(180deg, rgba(0, 0, 0, .75) 30%, rgba(0, 0, 0, .2)),
    url('https://maps.googleapis.com/maps/api/staticmap?center=1.4369919,103.8205313&size=320x460&scale=2&zoom=10&key=AIzaSyBgt0sFYv7r6pfn23fGjYI-VNd0ZBTZF9M') center bottom;
  background-size: cover;
  position: relative;
}

@media all and (min-width: 801px) {
  .wrapper {
    height: 80vw;
    background-position: center 75%;
  }
}

.wrapper h1 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 30px 15px 15px;
}

@media all and (min-width: 800px) {
  .wrapper h1 {
    font-size: 45px;
  }
}

.weather_box {
  position: absolute;
  top: 38%;
  left: 15%;
  right: 15%;
  bottom: 25%;
}

@media all and (min-width: 801px) {
  .weather_box {
    top: 20%;
    bottom: 20%;
  }
}

.summaries {
  display: flex;
  justify-content: center;
}

.summary_item {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 10px;
  text-align: center;
}

@media all and (min-width: 800px) {
  .summary_item {
    font-size: 18px;
    margin: 0 20px;
  }
}

.summary_item header {
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.summary_item .icon {
  margin-right: 5px;
}

.wrapper .radio_buttons {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
}

@media all and (min-width: 800px) {
  .wrapper .radio_buttons {
    bottom: 30px;
  }
}
