
.container {
  height: 80vw;
  background: linear-gradient(to bottom, #254a9e, #3082bd);

  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 800px) {
  .container {
    height: 30vw;
  }
}

.content {
  color: #ffffff;
  font-size: 29px;
  font-weight: 300;

  display: flex;
  align-items: center;
}

.main_icon {
  margin: 0 20px;
}

.secondary {
  font-size: 17px;
  margin-top: 12px;

  display: flex;
  align-items: center;
}

.secondary_content {
  margin: 0 36px 0 12px;
}
