
.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.item {
  min-width: 100px;
  height: 30px;
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 0 2px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  color: #646464;
  background-color: #cecece;

  font-size: 11px;
  text-transform: capitalize;

  transition-property: color, background-color;
  transition-duration: .3s;
}

@media all and (min-width: 800px) {
  .item {
    min-width: 150px;
    height: 45px;
    padding: 10px 20px;
    margin: 0 4px;
    font-size: 15px;
    border-radius: 23px;
  }
}


.input { display: none; }

:checked + .item {
  color: #ffffff;
  background-color: #3da5e2;
}

.decoration {
  height: 0;
  border-top: 2px solid #ffffff;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
}
