
.wrapper {
  position: relative;
  height: 75vw;
}

@media all and (min-width: 800px) {
  .wrapper { height: 50vw; }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 15px;
  font-size: 18px;
  font-weight: 400;
  color: #1ea3e3;
}

.header .suns {
  color: #ff9a00;
}


.current_time {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current_time span {
  background-color: #ffffff;
}

.visualization {
  width: 100vw;
  height: 75vw;
  overflow-x: auto;
  overflow-y: hidden;
}

.current_marker_triangle {
  stroke: #19a4dd;
  fill: #ffffff;
}

.wrapper svg {
  display: block;
}

.bottom_line {
  stroke: #19a4dd;
}

.tide_area {
  fill: #B0DDF0;
}

.tide_line {
  stroke: #999999;
  fill: transparent;
}

.sun_path {
  fill: transparent;
  stroke: #ff9a00;
  stroke-width: 1;
  stroke-dasharray: 10 5;
}

.sun_text {
  font-size: 12px;
  font-weight: 300;
  stroke: #ff9a00;
  text-anchor: middle;
}

.night {
  fill: rgba(0, 0, 0, .1)
}

.label {
  transform-origin: 50% 50% 0;
}

.label_box{
  fill: rgba(240, 240, 240, .5);
}

.label_tide {
  stroke: #00659b;
  font-size: 12px;
  text-anchor: middle;
  font-weight: 300;
}

.label_time {
  stroke: #32a9e3;
  font-size: 11px;
  text-anchor: middle;
  font-weight: 100;
  letter-spacing: 0.05em;
}

.current_date {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 50px;
  width: 100vw;
}

.moon {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
}

.is_night.moon {
  display: block;
}
