
.north,
.west,
.south,
.east,
.center {
  position: absolute;
}

.north,
.south,
.center {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.west,
.east,
.center {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.north { top: 0; }
.west { right: 0; }
.south { bottom: 0; }
.east { left: 0; }

@media all and (min-width: 800px) {
  .north { top: 10%; }
  .west { right: 15%; }
  .south { bottom: 10%; }
  .east { left: 15%; }
  .north,
  .west,
  .south,
  .east,
  .center { transform: scale(2); }
}
