
.wrapper {
  background-color: #3082bd;
  height: 120px;
  overflow-x: auto;
}

.container {
  display: flex;
}

.item {
  text-align: center;
  color: #ffffff;
  height: 120px;
  width: calc(25vw - 1px);
  max-width: 120px;
  position: relative;

  flex-shrink: 0;

  display: flex;
  flex-direction: column;

  /* right padding for the separator */
  margin-right: 1px;
}

.item::after {
  background: linear-gradient(180deg, transparent 25%, #ffffff);
  width: 1px;
  height: 100%;
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
}

/* no seperator for last item */
.item::last-child { margin-right: 0; }
.item::last-child::after { content: none; }

.item header,
.item footer {
  font-size: 12px;
}

.item header {
  margin: 11px 0;
  text-transform: uppercase;
}

.item footer {
  margin-bottom: 11px;
  font-weight: 100;
}

.item .content {
  flex: 1;
  font-size: 28px;
  font-weight: 300;
}

.psi {
  color: #ffffff;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 300;
  margin: 0 15px;
  padding: 3px 0;
}
.psi.good {
  background-color: #4a981a;
}
.psi.moderate {
  background-color: #254a9e;
}
.psi.bad {
  background-color: red;
}

.dengue {
  width: 35px;
  height: 35px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  margin: 0 auto;
}
.dengue.good {
  background-color: #98c1dd;
}
.dengue.moderate {
  background-color: #cc9e0b;
}
.dengue.bad {
  background-color: red;
}

.add {
  font-size: 13px;
  font-weight: 500;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add .icon {
  margin: 15px 0 5px;
  display: block;
}
